@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="text-warning mt-5 mb-2">
        Welcome to Scott's Favorite Movies and Series</h3>
    <p class="mt-5 mb-2 text-info">This site was created for fun and to share the tv series and movies that Scott Laing has been watching and what he thinks about them so far, informal reviews (very informal). 
        </p>
    <p class="mt-5 mb-2 text-info">
        Please feel free to comment or add your own viewing suggestions. </p>

    <p class="mt-5 mb-2 text-info"><strong>Thanks so much for visiting!</strong></p>
</div>
